<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD Carros</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <button id="voltar" class="btn-voltar" th:onclick="|window.location.href='@{/}'|">↩</button>
    <h1>CRUD de Carros</h1>

    <!-- Formulário de Inserção -->
    <h2>Inserir novo carro</h2>
    <form th:action="@{/carros/add}" method="post" th:object="${novoCarro}">
        <input type="text" th:field="*{placa}" placeholder="Placa" required>
        <input type="text" th:field="*{marca}" placeholder="Marca" required>
        <input type="text" th:field="*{modelo}" placeholder="Modelo" required>
        <input type="number" th:field="*{ano}" placeholder="Ano" required>
        <input type="text" th:field="*{cor}" placeholder="Cor" required>
        
        <select th:field="*{categoriaId}">
    		<option th:each="cat : ${categorias}" 
            	th:value="${cat.id}" 
            	th:text="${cat.nome}">
    		</option>
		</select>

        <input type="text" th:field="*{combustivel}" placeholder="Combustível" required>
        <input type="text" th:field="*{kmRodando}" placeholder="Quilometragem" required>
        <input type="text" th:field="*{cambio}" placeholder="Cambio" required>
        <input type="text" th:field="*{status}" placeholder="Status" required>
        <button type="submit">Inserir</button>
    </form>

    <!-- Botões de Ação -->
    <div class="acao">
        <form th:action="@{/carros}" method="get">
            <button type="submit">Listar todos</button>
        </form>

        <form th:action="@{/carros/disponiveis}" method="get">
    		<button type="submit">Listar disponíveis</button>
		</form>
    </div>

    <!-- Tabela de Carros -->
    <h2>Lista de carros</h2>
    <table>
        <thead>
            <tr>
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Cor</th>
                <th>Categoria</th>
                <th>Quilometragem</th>
                <th>Cambio</th>
                <th>Status</th>
                <th>Combustível</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="carro : ${carros}">
                <td th:text="${carro.placa}"></td>
                <td th:text="${carro.marca}"></td>
                <td th:text="${carro.modelo}"></td>
                <td th:text="${carro.ano}"></td>
                <td th:text="${carro.cor}"></td>
                <td th:text="${carro.categoria.nome}"></td>
                <td th:text="${carro.kmRodando}"></td>
                <td th:text="${carro.cambio}"></td>
                <td th:text="${carro.status}"></td>
                <td th:text="${carro.combustivel}"></td>
                <td>
                    <!-- Botão Editar -->
                    <form th:action="@{/carros/update}" method="post" th:object="${carro}">
                        <input type="hidden" th:field="*{placa}">
                        <button type="submit">Editar</button>
                    </form>

                    <!-- Botão Remover -->
                    <form th:action="@{/carros/delete}" method="post">
                        <input type="hidden" name="placa" th:value="${carro.placa}">
                        <button type="submit">Remover</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
