<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careca</title>
    <link rel="stylesheet" href="stlye.css">
</head>
<body>
    <button id="voltar" class="btn-voltar">↩</button>
    <h1>Histórico Cliente</h1>

    <div class="form">
        <input type="text" id="pesquisa" placeholder="Cpf">
        <button id="Inserir">Pesquisa</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Cpf do cliente</th>
            </tr>
        </thead>
        <tbody id="histCliente">
        </tbody>
    </table>
</body>
</html>